* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: dimgray;
}

#title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

h2 {
  text-align: center;
}

.inputcity {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 30%;
  padding: 10px 5px;
  margin: -1px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: lightgray;
  outline: none;
}

input[type="button"] {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: navy;
  color: lightgray;
  border: 5px;
}

.card {
  border-width: 0.5px;
  padding: 10px;
  float: left;
  width: 23%;
  text-align: center;
  background-color: gray;
  border-radius: 10px;
  min-height: 300px;
  max-height: 300px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
  font-size: 1.25vw;
}

.card img {
  width: 100%;
}

#map {
  margin: auto;
  width: 75%;

}

/* Responsive columns */
@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }

  #map {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }

  #map {
    width: 80%;
  }

}
