/* Universal Selectors */
* {
  box-sizing: border-box;
  font-family: "Montagu Slab", serif;
  overflow-wrap: break-word;
}

body,
html {
  viewport-fit: 100%;
}

.site {
  background-image: url("https://media.istockphoto.com/photos/empty-the-top-of-wooden-table-with-blurred-counter-bar-and-bottles-picture-id924418614?b=1&k=20&m=924418614&s=170667a&w=0&h=PpvGRk1CFc6Vlr1i5L4NB2rVHDD3i1p0cqr4Tx_sZdo=");
  viewport-fit: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Site Title & Input Button */

#title {
  font-family: "Montagu Slab", serif;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  color: rgb(223, 163, 11);
}

h1,
aside {
  text-align: center;
  color: rgb(223, 163, 11);
}

.inputcity {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 30%;
  padding: 10px 5px;
  margin: -1px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
  outline: none;
}

input[type="button"],
.save {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(226, 157, 7);
  color: rgb(0, 0, 0);
  border: 5px;
}

/* Brewery Info Cards */

.brewresults {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-style: solid;
  border-width: 0px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 185px;
  background-color: hsla(202, 7%, 21%, 0.1);
  text-align: center;
  color: rgb(223, 163, 11);
  font-weight: normal;
  font-size: 18px;
}

.btn {
  align-items: center;
  text-align: center;
}

.btn {
  color: rgb(223, 163, 11);
  font-weight: normal;
}

/* Map Display */

#map {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#brewlist {
  display: block;
  float: center;
  list-style-position: inside;
  background-color: hsla(202, 7%, 21%, 0.1);
  text-align: center;
  color: rgb(223, 163, 11);
  font-weight: normal;
  font-size: 18px;
}

/* Media Queries */

@media screen and (max-width: 992px) {
  .site::fore {
    background-image: url("https://images.unsplash.com/photo-1618162803775-cd146ebac4c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fGJlZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
    viewport-fit: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card {
    width: 50%;
  }

  #map {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .site {
    background-image: url("https://images.unsplash.com/photo-1618162803775-cd146ebac4c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fGJlZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
    viewport-fit: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1,
  .card,
  .btn {
    color: whitesmoke;
  }

  #map {
    width: 100%;
  }
}
